*{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

section{
    margin-top: 80px;
}
div{
    background-color: rgb(202, 253, 124);
}